*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (max-width:768px) {
    body {
        font-size: 16px;
    }
    .container{
        flex-direction: column;
    }
}
.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    align-items: center;
    background: #3e4764
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 120px;
    margin-left: 40px;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    margin: 40px;
    justify-content: space-between;
    align-items: center;
}
.content .textbox{
    position: relative;
    max-width: 600px;
}
.content .textbox h2 {
    color: #fff;
    font-size: 4em;
    line-height: 1,5em;
    font-weight: 900;
    margin-top: 40px;
    text-transform: uppercase;
}
.content .textbox h2 span {
    font-size: 1,5em;
}
.content .textbox ul {
    margin-top: 40px;
    color: #fff;
    font-size: 25px;
}
.content .textbox a {
    display: inline-block;
    margin-top: 40px;
    padding: 8px 20px;
    background: #fff;
    color: #111;
    border-radius: 40px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}
.content .imgbox{
    width: 500px;
    display: flex;
    padding-right: 40px;
    margin-top: 40px;
    justify-content: flex-end;
}
.content .imgbox img {
    max-width: 400px;
}